 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #1A2847;
active-foreground: #EAD8CD;
normal-background: #141515;
normal-foreground: #EAD8CD;
urgent-background: #2A3F20;
urgent-foreground: #EAD8CD;

alternate-active-background: #331B19;
alternate-active-foreground: #EAD8CD;
alternate-normal-background: #141515;
alternate-normal-foreground: #EAD8CD;
alternate-urgent-background: #141515;
alternate-urgent-foreground: #EAD8CD;

selected-active-background: #1A2847;
selected-active-foreground: #141515;
selected-normal-background: #1A2847;
selected-normal-foreground: #141515;
selected-urgent-background: #331B19;
selected-urgent-foreground: #141515;

background-color: #141515;
background: rgba(0,0,0,0.7);
foreground: #EAD8CD;
border-color: #1A2847;

color0: #3B3D3C;
color1: #0A1110;
color2: #261413;
color3: #261413;
color4: #141E35;
color5: #202F18;
color6: #936C55;
color7: #D9BFB0;
color8: #98867B;
color9: #0D1715;
color10: #331B19;
color11: #331B19;
color12: #1A2847;
color13: #2A3F20;
color14: #C49071;
color15: #D9BFB0;


}

